body {
    margin: 0;
}

* {
    scroll-behavior: smooth;
}

nav {
    height: 4vmax;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.557);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.left {
    width: 20%;
    display: flex;
    justify-content: center;
}

.left>a {
    text-decoration: none;
    color: crimson;
    font-size: 2vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mid {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;

}

.mid>a {
    text-decoration: none;
    color: hsl(347, 82%, 2%);
    font-size: 1.5vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid>a:hover {
    border-bottom: 2px solid crimson;
    color: crimson;

}

.right {
    width: 20%;
    display: flex;
    justify-content: center;
}

.right>img {
    width: 2.5vmax;
    margin: 1vmax;
    cursor: pointer;
}

.home {

    display: flex;
    height: 90vh;
    background-image: linear-gradient(to right, #A1C4FD, #C2E9FB);
}

.container {
    width: 100%;
}

#rightcontainer {
    display: flex;
    justify-content: flex-end;
}

#rightcontainer>img {
    filter: drop-shadow(0 0 20px black);
    margin-right: 12vmax;
}

#leftcontainer {
    display: flex;
    flex-direction: column;
    padding: 3vmax;
    justify-content: center;

}

#leftcontainer>h1 {
    font-size: 5vmax;
    font-family: 'Roboto', sans-serif;
}

#leftcontainer>h2 {
    margin-top: -8%;
    font-size: 2vmax;
    font-family: 'Roboto', sans-serif;
}

#leftcontainer>p {
    margin-left: 2%;
    font-size: 1vmax;
    font-family: 'Roboto', sans-serif;
}

#leftcontainer>button {
    width: 11vmax;
    margin-left: 2%;
    padding: 0.6vmax;
    border-radius: 2vmax;
    border: none;
    background-color: crimson;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#leftcontainer>button:hover {
    background-color: rgb(168, 12, 43);
}

/* ------------------------------------------------------ */


#Products {}

#Products>h1 {
    text-align: center;
    margin: 5vmax auto;
    font-size: 2.5vmax;
    border-bottom: 5px solid crimson;
    padding: 1vmax;
    width: 25vw;

}

.Productscontainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    height: 100%;
    max-width: 80vw;
    margin: auto;
}

.product {
    transition: all 0.5s;
    display: flex;
    height: 30vmax;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
}

.product>img {
    width: 20vmax;
}

.product>h4 {
    margin: 2%;
}

.product>h5 {
    margin: 0px;
}

.product:hover {
    transform: translateY(-10px);
}

/* .............................................. */

footer {
    margin-top: 8vmax;
    padding: 2vmax;
    background-color: rgb(23, 20, 20);
    color: azure;
    display: flex;
}

.leftfooter {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftfooter>h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.leftfooter>p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.leftfooter>img {
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}

/* ........................................... */

.midfooter {
    width: 60%;
    text-align: center;

}

.midfooter>h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vmax;
    color: crimson;
}

.midfooter>p {
    max-width: 60%;
    margin: 1vmax auto;
}












/* ............................................ */
.rightfooter {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightfooter>h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4vmax;
    text-decoration: underline;
}

.rightfooter>a {
    text-decoration: none;
    font-size: 1.3vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    margin: 0.5vmax;
}